$animation-type: linear;
$animation-speed: 175ms;

Game {
    align: center middle;
    layers: gameplay messages;
}

.visible {
    visibility: visible;
}

Footer {
    height: 1;
    dock: bottom;
    layer: gameplay;
}